In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
test = pd.read_csv("./unique_products.csv")
test = test.sort_values(by=['order_id'], ascending=False)
test = test.head(round(len(test)*0.2))

In [3]:
import ast
users = pd.read_csv("./user_features_full.csv")
users.master_category_id = users.master_category_id.apply(ast.literal_eval)
users.head()

,user_id,orders,retailer,city_name,total,prefer_discounts,master_category_id,parent_category_id
0,83,1,METRO,Московская Область,170.171765,False,"[432, 432, 432, 432, 434, 435, 328, 343, 343, ...","[429, 429, 429, 429, 429, 429, 321, 290, 290, ..."
1,142,1,METRO,Московская Область,3344.000000,False,[581],[9]
2,187,1,ВкусВилл,Москва,277.110001,False,"[85, 91]","[84, 90]"
3,224,1,Ашан,Москва,636.272493,False,"[61, 61, 61, 598, 600, 600, 630, 40, 91, 91, 9...","[56, 56, 56, 51, 56, 56, 74, 35, 90, 90, 90, 90]"
4,260,2,METRO,Москва,220.464167,False,"[76, 76, 76, 76, 630, 630, 630, 630, 80, 110, ...","[74, 74, 74, 74, 74, 74, 74, 74, 74, 99, 99, 9..."

In [4]:
sbm = pd.read_csv("./kaggle/sample_submission.csv")

In [5]:
from IPython.display import clear_output

In [31]:
df = pd.DataFrame(columns=['Id',  
                           'Predicted'])
i = 0
for user in sbm.Id:
    if (i%10 == 0):
        clear_output(wait=True)
        print(i/len(sbm)*100,"%")
    k_p = test.sample(n=5, replace=True).product_id
    while len(k_p) < 50:
        l = users[users.user_id == user].master_category_id
        if len(l.index)>0:
            category = np.random.choice(l.values[0]).item()
            ids = test[test.master_category_id == category]
            if len(ids.index) >= 5:
                k_p = k_p.append(ids.sample(n=5, random_state=7).product_id)
            else:
                k_p = k_p.append(test.sample(n=5, random_state=9).product_id)
        else:
            k_p = k_p.append(test.sample(n=5, random_state=3).product_id)
    st = np.array2string(k_p.values, separator=' ')
    df = df.append({'Id': user, 'Predicted':st[1:-1]}, ignore_index=True)
    i+=1

99.99252811297494 %

In [27]:
df1 = df

In [28]:
len(df1)

176

In [32]:
df.head()

     Id                                          Predicted
0    51    93600 5062990 7064842   13120   78621   2050...
1    65    69488 7034562 7004553 6818328 3821457   2050...
2   766  3859910  103422 5073752   45316   67180 734270...
3  1132  3593082   52536 6784572 4275455   54378   5130...
4  1578     5052   10735 6691117   14478    9824 349757...

In [35]:
df['Predicted'] = df['Predicted'].str[1:-1]
df['Predicted'] = df['Predicted'].str.replace('\n', '')
df['Predicted'] = df['Predicted'].str.replace(' +', ' ')

In [36]:
df.to_csv('submission.csv',index=False)

In [109]:
df2

            Id                                          Predicted
0      1279222  504602270164055073465  159882834964  521985044...
1      1279245  504602270164055073465  159882834964  193665046...
2      1279261  504602270164055073465  15988283496450457285063...
3      1279295  504602270164055073465  15988283496442753157466...
4      1279380  504602270164055073465  1598828349645481229  58...
...        ...                                                ...
17683  1278913  504602270164055073465  159882834964  913363564...
17684  1279028  504602270164055073465  159882834964  79212  60...
17685  1279070  504602270164055073465  159882834964  895474275...
17686  1279086  504602270164055073465  15988283496434975747324...
17687  1279153  504602270164055073465  159882834964  454487107...

[18721 rows x 2 columns]

In [21]:
print(df1[df1.Id == 1279222].Predicted.values)

['5046022 7016405 5073465 15988 2834964 52198 5044722 2834887 64800 30306 52198 5044722 2834887 64800 30306 52198 5044722 2834887 64800 30306 52198 5044722 2834887 64800 30306 52198 5044722 2834887 64800 30306 52198 5044722 2834887 64800 30306 52198 5044722 2834887 64800 30306 52198 5044722 2834887 64800 30306 52198 5044722 2834887 64800 30306']